@font-face {
  font-family: "yekan regular";
  src: url(../../src/fonts/Yekan_Bakh_EN_04_Regular.ttf);
}
@font-face {
  font-family: "yekan";
  src: url("../../src/fonts/Yekan_Bakh_EN_06_Bold.ttf");
}
@font-face {
  font-family: "yekan bakh";
  src: url("../../src/fonts/Yekan_Bakh_EN_05_Medium.ttf");
}
@import "config";
@import "utilities";
@import "navbar";
@import "thetherHeader";
@import "help";
@import "tetherContent";
@import "accordion";

@import "footer";
